{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Five Star Hotel | Services</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'layout.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'maxheight.js' %}" type="text/javascript"></script>
<!--[if lt IE 7]>
<link href="{% static 'ie_style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'ie_png.js' %}"></script>
<script type="text/javascript">ie_png.fix('.png, #header .row-2, #header .nav li a, #content, .gallery li');</script>
<![endif]-->
</head>
<body id="page2" onload="new ElementMaxHeight();">
<div id="main">
  <!-- header -->
  <div id="header" class="small">
    <div class="row-1">
      <div class="wrapper">
        <div class="logo">
          <h1><a href="index">Real de Majes</a></h1>
          <em>Hotel</em> <strong>True Luxury</strong> </div>
        <div class="phones"> 1-800-412-45-56<br />
          1-800-542-64-48 </div>
      </div>
    </div>
    <div class="row-2 alt">
      <div class="indent">
        <!-- header-box-small begin -->
        <div class="header-box-small">
          <div class="inner">
            <ul class="nav">
              <li><a href="index">Inicio</a></li>
              <li><a href="services" class="current">Servicios</a></li>
              <li><a href="gallery">Galeria</a></li>
              <li><a href="testimonials">Testimonios</a></li>
              <li><a href="booking">Reservas</a></li>
            </ul>
          </div>
        </div>
        <!-- header-box-small end -->
      </div>
    </div>
  </div>
  <!-- content -->
  <div id="content">
    <div class="gallery">
      <ul>
        <li><a href="#"><img alt="" src="{% static 'images/2page-img1.jpg' %}" /></a></li>
        <li><a href="#"><img alt="" src="{% static 'images/2page-img2.jpg' %}" /></a></li>
        <li><a href="#"><img alt="" src="{% static 'images/2page-img3.jpg' %}" /></a></li>
        <li><a href="#"><img alt="" src="{% static 'images/2page-img4.jpg' %}" /></a></li>
        <li><a href="#"><img alt="" src="{% static 'images/2page-img5.jpg' %}" /></a></li>
        <li><a href="#"><img alt="" src="{% static 'images/2page-img6.jpg' %}" /></a></li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="aside maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="inner">
            <h3>Otros servicios</h3>
            <div class="txt1">
              <p>En adición tambien ofrecemos</p>
              <ul class="img-list">
                <li> <img alt="" src="{% static 'images/2page-img7.jpg' %}" /> Comida exquisita para su paladar</li>
                <li> <img alt="" src="{% static 'images/2page-img8.jpg' %}" /> Bebidas a tu cuarto </li>
                <li> <img alt="" src="{% static 'images/2page-img9.jpg' %}" /> Limpieza diaria </li>
                <li> <img alt="" src="{% static 'images/2page-img10.jpg' %}" /> Acceso libre a nuestra piscina y gimnasio</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- box end -->
      </div>
      <div class="content">
        <div class="indent">
          <h2>Nosotros ofrecemos diferentes tipos de cuartos</h2>
          <div class="container">
            {% for cuarto in listaCuartos %}
            <div class="col-1"> <img style="border: 4px solid; color: white"alt="" src="{{cuarto.imagen}}" height="130" class="extra-img png"/>
              <dl class="list1">
                <dt>{{cuarto.descripcion}}</dt>
                
                <dd><span>6-10</span>Floor</dd>
                <dd><span>1</span>Beds</dd>
                <dd class="alt"><span>1</span>Baths</dd>
                <dd class="last"><span>${{cuarto.precio}}</span>Price:</dd>
              </dl>
              <div class="button"><span><span><a href="#">Order Now!</a></span></span></div>
            </div>
            {% endfor %}            
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div id="footer">
    <ul class="nav">
      <li><a href="#">Home</a>|</li>
      <li><a href="#">Services</a>|</li>
      <li><a href="#">Gallery</a>|</li>
      <li><a href="#">Restaurant</a>|</li>
      <li><a href="#">Testimonials</a>|</li>
      <li><a href="#">Booking</a></li>
    </ul>
    <div class="wrapper">
      <div class="fleft">Copyright &copy; 2009 <a href="#">Name Here</a>. All Rights Reserved</div>
      <div class="fright">Designed by TemplateMonster - <a href="http://www.templatemonster.com/">website templates</a> provider</div>
    </div>
  </div>
</div>
</body>
</html>
